<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Salary Slip App" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Salary Slip App">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>


    <style>

      .flash-message {
        width: 90%;
        max-width: 500px;
        margin: 20px auto;
        padding: 14px 20px;
        border-radius: 8px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
      }


      .flash-message.notice {
        background: #dcfce7;
        color: #166534;
      }


      .flash-message.alert {
        background: #fee2e2;
        color: #991b1b;
      }


    </style>


    <%# Enable PWA manifest for installable apps %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>


  <body>


    <% flash.each do |type, message| %>

      <div class="flash-message <%= type %>">
        <%= message %>
      </div>

    <% end %>


    <%= yield %>


  </body>

</html>